.git
__pycache__
*.pyc
*.pyo
*.pyd

# dev / testing directories
/dev_env*
/frontend/test_js/**
/frontend/dist/**
/frontend/node_modules/**
/frontend/.quasar/**
/frontend/.cache/**
/frontend/.vite/**
/frontend/coverage/**
/frontend/.eslintcache

# venv
env
venv*

# editor directories and files
.vscode
.idea
