.section {
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ifm-background-color-secondary);
}

.container {
  display: flex;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  gap: 4rem;
}

.text_column {
  flex: 1;
}

.text_column h2 {
    color: var(--ifm-color-primary);
}

.text_column p, .text_column li {
    color: var(--ifm-font-color-base);
}

.image_column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.placeholder {
  width: 100%;
  height: 300px;
  background-color: var(--ifm-hover-overlay);
  border: 1px dashed var(--ifm-color-emphasis-400);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--ifm-font-color-secondary);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column !important;
    gap: 2rem;
  }
}
