/**
 * Any custom CSS here will be applied to the theme.
 */

/* Root variables for light mode */
:root {
  --ifm-color-primary: #201335;
  --ifm-color-primary-dark: #1b102d;
  --ifm-color-primary-darker: #190f2a;
  --ifm-color-primary-darkest: #140c22;
  --ifm-color-primary-light: #25163d;
  --ifm-color-primary-lighter: #271840;
  --ifm-color-primary-lightest: #2c1b48;
  --ifm-code-font-size: 95%;

  --ifm-hero-background-color: #f7f7f7;
  --ifm-hero-text-color: var(--ifm-color-primary);

  --ifm-color-secondary: #4F4789;
  --ifm-color-accent: #FFB17A;

  --ifm-font-color-base: #222; /* Darker base text for readability */
}

/* Root variables for dark mode */
[data-theme='dark'] {
  --ifm-color-primary: #6353a4; /* Lighter primary for dark mode */
  --ifm-color-primary-dark: #4f4789;
  --ifm-color-primary-darker: #453e7a;
  --ifm-color-primary-darkest: #3b356a;
  --ifm-color-primary-light: #7769bf;
  --ifm-color-primary-lighter: #8c7fd5;
  --ifm-color-primary-lightest: #a195e0;

  --ifm-hero-background-color: #121212;
  --ifm-hero-text-color: #fff;

  --ifm-color-secondary: #FFB17A;
  --ifm-color-accent: #4F4789;

  --ifm-background-color: #121212;
  --ifm-font-color-base: #eee;
}

.hero--primary {
    --ifm-hero-background-color: var(--ifm-hero-background-color) !important;
    --ifm-hero-text-color: var(--ifm-hero-text-color) !important;
}

.button--secondary {
    --ifm-button-background-color: var(--ifm-color-secondary);
    --ifm-button-color: #fff;
    --ifm-button-border-color: var(--ifm-color-secondary);
}

.button--secondary:hover {
    --ifm-button-background-color: var(--ifm-color-accent);
    --ifm-button-color: #fff;
    --ifm-button-border-color: var(--ifm-color-accent);
}
