---
networks:
  private-net:

services:
  # -- Headendarr --
  headendarr:
    image: ghcr.io/Headendarr/headendarr:latest
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        VERSION: "UNKNOWN"
        BUILD_DATE: "NOW"
        BASE_IMAGE: "ghcr.io/tvheadend/tvheadend:edge-debian"

    # NETWORK:
    networks:
      - private-net
    ports:
      # App Port (9985)
      - 9985:9985
      # Proxy Port (9987)
      - 9987:9987
      # TVH Webui
      - 9981:9981
      # TVH HTSP
      - 9982:9982

    # ENVIRONMENT:
    environment:
      # Process user ID
      - PUID=1000
      # Process group ID
      - PGID=1000
      # Timezone
      - TZ=Pacific/Auckland
      # Skips the DB migrate command execution on container startup
      - SKIP_MIGRATIONS=false
      # Executes a pip install on container startup (might be required to generate the venv)
      - RUN_PIP_INSTALL=false
      # Enables debug logging for main application
      - ENABLE_APP_DEBUGGING=true
      # Enables debug logging for DB queries
      - ENABLE_SQLALCHEMY_DEBUGGING=false
      # Enables Hypercorn auto-reload for the Quart app
      - ENABLE_APP_HOT_RELOAD=true

    # VOLUMES:
    volumes:
      # Configuration files
      - ../dev_env/config:/config
      - ../dev_env/recordings:/recordings
      - ../dev_env/timeshift:/timeshift
      # Application source passthrough
      - ../:/app

  # -- FRONTEND DEV SERVER --
  frontend:
    image: node:22-trixie
    working_dir: /app/frontend
    command: bash -lc "npm install && npx quasar dev --host 0.0.0.0 --port 8080 --debug"
    network_mode: host
    depends_on:
      - tic
    environment:
      - NODE_ENV=development
      - QUASAR_DEV_PORT=8080
      - QUASAR_DEV_HOST=0.0.0.0
    volumes:
      - ../:/app

  # -- DOCS DEV SERVER --
  docs:
    image: node:22-trixie
    working_dir: /app/docs
    command: bash -lc "npm install && npm start"
    network_mode: host
    depends_on:
      - tic
    environment:
      - NODE_ENV=development
      - DOCUSAURUS_DEV_PORT=8030
      - DOCUSAURUS_DEV_HOST=0.0.0.0
    volumes:
      - ../:/app
